img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

button {
  display: block;
  margin: 20px auto 0 auto;
  outline: 0;
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 14px;
  padding: 4px 12px 5px 12px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

button {
  background: transparent;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  font-size: 1rem;

  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;

  border: solid 3px #41403e;
}

button:hover {
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}
